<!-- <?php require_once(PATH_VIEWS . "nav.php") ?> -->

<head>
  <title>Compétences</title>
  <link rel="stylesheet" href="../assets/css/competences.css">
</head>
<div class="title" data-aos="fade-down"data-aos-delay="500">
  <span>Voici la liste de mes compétences apprises avec mes projets SAÉ !</span>
  <div class="allcompetences">
    <span>UE1 : Réaliser</span>
    <span>UE2 : Optimiser</span>
    <span>UE3 : Administrer</span>
    <span>UE4 : Gérer</span>
    <span>UE5 : Conduire</span>
    <span>UE6 : Collaborer</span>
  </div>
</div>
<section class="allsae">
  <h2 data-aos="zoom-in" data-aos-delay="650">Semestre 1 :</h2>
  <div class="scroll">
    <div class="sem1">
      <div class="sae">
        <div class="sujet" data-aos="zoom-in-right" data-aos-delay="500" date-aos-duration="1000">
          <div class="title" data-aos="fade-right" data-aos-delay="550">
            <span>SAÉ s1.01 : Implémentation d'un besoin client</span>
            <span>Langage C</span>
          </div>
          <div data-aos="fade-right" data-aos-delay="600">
            <p>Durant cette SAÉ, j’ai eu l’occasion de travailler dans le langage C avec l’utilisation de pointeur, de gestion de l’allocation mémoire et avec des classes abstraites notamment. Elle a aussi été ma première collaboration avec mes camarades pour réaliser un gros projet commun. Cela ma acquis des compétences en langage C globalement.</p>
          </div>
        </div>
        <div class="image" data-aos="zoom-in-left" data-aos-delay="650"><img src="../assets/images/annuaire.jpg"></img></div>
      </div>
      <div class="sae">
        <div class="sujet">
          <div class="title">
            <span>SAÉ s1.02 : Comparaison d'approches algorithmiques</span>
            <span>Langage C, Algorithmique</span>
          </div>
          <div>
            <p>Cette SAÉ ma permis de faire de la recherche algorithmique avec mes camarades et d’évaluer un autre projet que le mien et qui ma donc aussi fais voir cette SAÉ d’un autre point de vue que celui de mon groupe. Cela ma acquis des compétences en algorithmique et en code de manière générale.</p>
          </div>
        </div>
        <div class="image"><img src="../assets/images/algo.png"></img></div>
      </div>
      <div class="sae">
        <div class="sujet">
          <div class="title">
            <span>SAÉ s1.03 : Installation d'un poste pour le développement</span>
            <span>Gestion de comptes Windows</span>
          </div>
          <div>
            <p>Ce premier projet ma appris toutes les faces cachées de Windows, ce qui ma aidé à me mettre à l’aise sur mon poste de travail en connaissant ma machine. Cela ma acquis des compétences sur le système d’exploitation Windows.</p>
          </div>
        </div>
        <div class="image"><img src="../assets/images/gestion_user.png"></img></div>
      </div>
      <div class="sae">
        <div class="sujet">
          <div class="title">
            <span>SAÉ s1.04 : Création d'une BD</span>
            <span>Conception BD power AMC</span>
          </div>
          <div>
            <p>Cette SAÉ ma permis de découvrir et prendre en main des logiciels de conception tel que power AMC. Cela ma acquis des compétences en matière de conception de diagramme d’utilisation.</p>
          </div>
        </div>
        <div class="image"><img src="../assets/images/power_amc.jpeg"></img></div>
      </div>
      <div class="sae">
        <div class="sujet">
          <div class="title">
            <span>SAÉ s1.05 : Recueil des besoins</span>
            <span>Langage HTML/CSS</span>
          </div>
          <div>
            <p>
            Durant ce projet de réalisation d’un site web cherchant à faire découvrir le BUT, j’ai réussi à travailler en groupe en utilisant des logiciels de regroupement de travail tel que GIT. J’ai eu l’occasion de découvrir les bases de l’HTML et toutes les règles CSS pour réaliser un code propre et respectant le W3C ainsi que l’environnement. Cela ma donc acquis des compétences dans le langage HTML ainsi que de réaliser du code propre. 
            </p>
          </div>
        </div>
        <div class="image"><img src="../assets/images/web_com.png"></img></div>
      </div>
      <div class="sae">
        <div class="sujet">
          <div class="title">
            <span>SAÉ s1.06 : Découverte de l'environnement économique et écologique (Ubisoft)</span>
            <span>Recherche sur Internet, Développement de paragraphes argumentaires</span>
          </div>
          <div>
            <p>Cette SAÉ ma fait découvrir les côtés néfaste de l’informatique avec ses défauts environnementaux. C’est pour cela que, en groupe, nous avons réussi à bien séparer la grosse quantité de travail que nous avions pour nous le répartir équitablement et ainsi faire des recherches approfondies sur notre partie de travail. Cela ma donc acquis des compétences en termes de communications en sein d’un groupe ainsi que, secondement, la recherche bibliographique. </p>
          </div>
        </div>
        <div class="image"><img src="../assets/images/ubisoft.jpeg"></img></div>
      </div>
    </div>
  </div>
  <h2>Semestre 2 :</h2>
  <div class="scroll">
    <div class="sem2">
      <div class="sae">
        <div class="sujet" data-aos="zoom-in-right" date-aos-duration="1000">
          <div class="title" data-aos="fade-right" data-aos-delay="50">
            <span>SAÉ s2.01, SAÉ s2.02, SAÉ s2.05 : GraphMap Analysis : implémentation d'un besoin client</span>
            <span>Langage orienté object tel que Java et recherche de librairies pour le développement</span>
          </div>
          <div data-aos="fade-right" data-aos-delay="100">
            <p>Au cours de mon projet en Java visant à créer une carte avec des graphes et à effectuer des calculs dessus,j'ai pu acquérir de nouvelles compétences, notamment en matière de manipulation de graphes, de programmation orientée objet et de résolution de problèmes algorithmiques. Travailler en équipe m'a permis d'apprendre à communiquer efficacement et à être autonome dans mon travail. J'ai également eu l'opportunité de mettre en pratique des méthodologies de développement telles que la gestion de versions avec GIT, la planification de projets avec un GANTT PERT et la rédaction d'un cahier des charges.</p>
          </div>
        </div>
        <div class="image" data-aos="zoom-in-left" data-aos-delay="150"><img src="../assets/images/graphmap.png"></img></div>
      </div>
      <div class="sae">
        <div class="sujet">
          <div class="title">
            <span>SAÉ s2.03 : Installation de services Réseau</span>
            <span>Windows, Wireshark</span>
          </div>
          <div>
            <p>Au cours de cette SAÉ de mise en place d'un serveur web avec Apache, j'ai développé plusieurs compétences en matière de gestion de réseau. J'ai appris à configurer et à déployer un serveur web, à comprendre les protocoles et les communications réseau, ainsi qu'à utiliser des outils tels que Wireshark pour analyser le trafic réseau. J'ai également acquis des connaissances sur la sécurité des serveurs web, en mettant en place des pare-feu et des mesures de protection pour éviter les attaques potentielles. Ce projet m'a permis de mieux comprendre le fonctionnement des réseaux et des serveurs web, et a renforcé mes compétences en matière de résolution de problèmes.</p>
          </div>
        </div>
        <div class="image"><img src="../assets/images/wireshark.png"></img></div>
      </div>
      <div class="sae">
        <div class="sujet">
          <div class="title">
            <span>SAÉ s2.04 : PowerBI et exploitation de Données</span>
            <span>Logiciel PorwerBI et traitemenent de données massive</span>
          </div>
          <div>
            <p>Au cours de cette SAÉ avec PowerBI, j'ai développé des compétences en matière d'analyse de données et de création de visualisations graphiques. J'ai appris à utiliser les fonctionnalités avancées de PowerBI pour manipuler et transformer des données, ainsi qu'à créer des graphiques adaptés à différents besoins. J'ai également acquis des connaissances sur la présentation efficace de données et sur la communication de résultats. Ce projet m'a permis de mieux comprendre la valeur de l'analyse de données pour la prise de décision, ainsi que l'importance de la présentation de données claires et visuellement attractives.</p>
          </div>
        </div>
        <div class="image"><img src="../assets/images/powerbi.jpeg"></img></div>
      </div>
      <div class="sae">
        <div class="sujet">
          <div class="title">
            <span>SAÉ s2.06 : Organisation d'un travail d'équipe</span>
            <span>Gestion du GIT, Planning d'un projet, Rédaction d'un cahiers des charges</span>
          </div>
          <div>
            <p>Au cours de mon projet, j'ai développé des compétences en matière de gestion de projet, de rédaction de cahiers des charges et de planification avec GANTT et PERT. J'ai appris à organiser efficacement un projet en utilisant des outils de planification et de gestion de projet, et à rédiger un cahier des charges précis et clair. J'ai également acquis des connaissances sur la gestion de versions avec GIT et sur la collaboration en équipe, en mettant en place une méthodologie professionnelle pour travailler ensemble. Ce projet m'a permis de mieux comprendre l'importance de la planification et de la gestion de projet pour un travail efficace, ainsi que l'importance de la communication en équipe et de la collaboration pour réussir un projet.</p>
          </div>
        </div>
        <div class="image"><img src="../assets/images/gestion_git.webp"></img></div>
      </div>
    </div>
  </div>
  <h2>Semestre 3 :</h2>
  <div class="scroll">
    <div class="sem3">
      <div class="sae">
        <div class="sujet" data-aos="zoom-in-right" date-aos-duration="1000">
          <div class="title" data-aos="fade-right" data-aos-delay="50">
            <span>SAÉ s3 : Site web commercial</span>
            <span>HTML / CSS, JavaScript, PHP, Gestion du GIT, Cahier des charges</span>
          </div>
          <div data-aos="fade-right" data-aos-delay="100">
            <p>L'objectif de mon projet était de développer un site web qui permette à un utilisateur de créer un itinéraire pour visiter une ville en fonction de ses préférences. J'ai utilisé l'API Google Places pour récupérer les données sur les lieux de la ville. En travaillant sur ce projet, j'ai développé des compétences importantes en développement web, telles que la création de pages en HTML/CSS, l'ajout de fonctionnalités interactives en JavaScript, la logique de traitement côté serveur en PHP et l'utilisation de l'API Google Places. J'ai également appris à gérer les versions de mon code avec GIT et à planifier mon projet à l'aide de diagrammes PERT et GANTT. Au-delà de ces compétences techniques, j'ai également développé des compétences en résolution de problèmes, en collaboration, en gestion de projet, en communication et en créativité.</p>
          </div>
        </div>
        <div class="image" data-aos="zoom-in-left" data-aos-delay="150"><img src="../assets/images/planmyjourney.png"></img></div>
      </div>
    </div>
  </div>
  <div class="toCV">
    <a href="?page=CV">
      <button>Visionner mon CV</button>
    </a>
  </div>
</section>