body nav {
  background-color: transparent;
}

.container-all {
  padding: 0;
}

/* Arrive en écriture */
h1 {
  position: relative;
  font-size: clamp(2rem, 4vw, 3rem);
  font-family: "Source Code Pro", monospace;
  margin: 10px;
  text-align: center;
  color: var(--main-text-color);
  width: 80%;
}

#name {
  color: blue;
}

.welcome > span {
  margin: 10px;
  text-align: center;
  color: var(--main-text-color);
}

/* CIRCLE */

.circle, .followCircle {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--second-text-color);
  border-radius: 50%;
}

.circle {
  width: 150px;
  height: 150px;
  animation: circle-anim 2s ease-in-out infinite alternate;
  box-shadow: 0 0 30px 30px var(--second-text-color);
}

.followCircle {
  width: 200px;
  height: 200px;
  opacity: 0;
  box-shadow: 0 0 50px 50px var(--second-text-color);
}

.circle:nth-child(1) {
  top: 20%;
  left: 10%;
}

.circle:nth-child(2) {
  top: 70%;
  left: 15%;
}

.circle:nth-child(3) {
  top: 30%;
  left: 80%;
}

@keyframes circle-anim {
  from {
    opacity: 0.85;
  }
  to {
    opacity: 0.5;
  }
}

/* Arrivée du bas */
.toAbout,
.toProject {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-weight: 400;
  font-family: "Source Code Pro", monospace;
  margin-top: 3vw;
  opacity: 0;
  transform: translateY(1em);
  animation: fadeInUp 2s ease calc(2.0s) forwards;
  cursor: pointer;
}

.toProject {
  animation: fadeInUp 2s ease forwards;
}

#toProject {
  margin-top: clamp(1.5rem, 2.5vw, 2rem);
}

.toAbout,
.toProject {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.toAbout:hover,
.toProject:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.toAbout:hover::before,
.toProject:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.toAbout::before,
.toProject::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.toAbout:active,
.toProject:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}


@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Section */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

/* Qui suis-je */
section.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: clamp(320px, 70%, 600px);
  padding: 0 1rem;
  color: var(--main-text-color);
}

.about-content > h2 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 600;
  font-family: "Source Code Pro", monospace;
  text-align: center;
  margin-bottom: clamp(1rem, 2.5vw, 2rem);
}

.about-content .about-text > p {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: 400;
  font-family: "Source Code Pro", monospace;
}

.about-img img {
  width: clamp(200px, 30vw, 400px);
  height: clamp(200px, 30vw, 400px);
  object-fit: cover;
  border-radius: 50px;
}

@media screen and (max-width: 768px) {
  section.about {
    flex-direction: column;
  }

  .welcome .circle:nth-child(2) {
    top: 63%;
    left: 53%;
  }

  .welcome .circle:nth-child(3) {
    display: none;
  }
}
