@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Krona+One&family=Space+Grotesk&family=Syne&display=swap%22");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #1e1e1f;
  --main-text-color: rgb(241, 243, 255);
  --second-text-color: rgb(0, 0, 255);
  /* --main-text-color: #FFFFFF;
  --main-nav-color: #f3e5b3;
  --main-nav-text-color: #eee9da; */
}

.container-all {
  padding-top: 3.5rem;
}

:root {
  scroll-behavior: smooth;
}

/* Nav bar */
nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: 3.5rem;
  background-color: var(--main-bg-color);
  transform-origin: top;
  z-index: 2;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  list-style: none;
  padding: 0 1rem;
}

.left,
.right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}

li {
  font-family: "Source Code Pro", sans-serif;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: 600;
  color: var(--main-text-color);
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

nav ul li::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--second-text-color);
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

nav ul li:hover::after {
  transform: scale(1);
}

/* Menu burger */

.menu-burger {
  display: none;
}

@media screen and (max-width: 400px) {
  .menu-btn {
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn-burger {
    width: 40px;
    height: 4px;
    background: var(--main-text-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .menu-btn-burger::before,
  .menu-btn-burger::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background: var(--main-text-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .menu-btn-burger::before {
    transform: translateY(-10px);
  }
  .menu-btn-burger::after {
    transform: translateY(10px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .right {
    position: absolute;
    opacity: 0;
    left: -100%;
    transition: 0.5s;
  }

  .right-open {
    position: fixed;
    top: 3.5rem;
    left: 0;
    opacity: 1;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: 0.5s;
    background: var(--main-bg-color);

  }

  .right-open li {
    padding: 1rem 0;
  }
}
